<h2><%= @entry.name %> Entry</h2>

<h4>Bracket</h4>
<% @entry.picks.sort_by(&:id).each_with_index do |p| %>
  <section>
    <% if p.slot.matchup && p.slot.matchup.opponents.length == 2 %>
      <ul>
        <% p.slot.matchup.opponents.each do |o| %>
          <li>
            <%= o.player_name %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div>
      Pick <%= p.slot_name %> - <%= link_to "Make Pick", edit_pick_path(p) %>
    </div>
    <% if p.opponent %>
      <div>
        Pick: <%= p.opponent.player_name %>
      </div>
    <% end %>
  </section>
<% end %>
