<h2><%= @entry.name %> Entry</h2>

<h4>Bracket</h4>
<article>
  <div class="round round1 matchups">
    <% @entry.tournament.matchups.select{|m| m.slot.is_childless? }.each_with_index do |m| %>
      <section>
        <p class="slot-name">
          <%= m.slot_name %>
        </p>
        <ul class="entrants">
          <% m.opponents.each do |o| %>
            <li class="entrant-name">
              <%= o.entrant.player_name %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
  <% offset = 0 %>
  <% depth = nil %>
  <% @entry.picks.sort_by(&:id).each_slice(2) do |p1, p2| %>
    <% if depth != p1.slot.depth %>
      </div>
    <% end %>
    <% if depth != p1.slot.depth %>
      <% depth = p1.slot.depth %>
      <div class="round round<%= 8 - p1.slot.depth %>">
    <% end %>
      <section>
        <p class="slot-name">
          <%= p1.slot&.parent&.name %>
        </p>
        <ul class="entrants">
          <li class="entrant-name">
            <% if p1.entrant %>
              <span><%= p1.entrant.player_name %></span>
            <% end %>
            <% if @entry.tournament.locked? %>
              <% if p1.slot.matchup&.winner&.entrant == p1.entrant %>
                <span> - W</span>
              <% end %>
            <% else %>
              <%= link_to "Edit Pick", edit_pick_path(p1), class: "edit-pick" %>
            <% end %>
          </li>
          <li class="entrant-name">
            <% if p2.present? %>
              <% if p2.entrant %> <span><%= p2.entrant.player_name %></span>
              <% end %>
              <% if @entry.tournament.locked? %>
                <% if p2.slot.matchup&.winner&.entrant == p2.entrant %>
                  <span> - W</span>
                <% end %>
              <% else %>
                <%= link_to "Edit Pick", edit_pick_path(p2), class: "edit-pick" %>
              <% end %>
            <% end %>
          </li>
      </section>
  <% end %>
</article>
