<h2><%= @group_tournament.tournament_name %></h2>

<% if !@group_tournament.entries.map(&:user).include? current_user %>
  <%= link_to 'Create an entry', new_group_tournament_entry_path(@group_tournament) %>
<% end %>

<h4>Entries</h4>
<table>
  <%= @group_tournament.entries.each do |entry| %>
    <tr>
      <td>
        <%= entry.name %>
      </td>
      <td>
        <% if entry.user == current_user %>
          <%= link_to "View", group_tournament_entry_path(entry.group_tournament, entry) %>
        <% end %>
      </td>
      <td>
        <% if entry.user == current_user %>
          <%= link_to 'Delete', group_tournament_entry_path(entry.group_tournament, entry), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </tr>
  <% end %>
</ul>
