<h2><%= @group.name %></h2>

<%= link_to "Join Group", new_group_group_membership_path(@group) %>

<div>
  <h3>Tournaments</h3>
  <ul>
    <% @group.group_tournaments.each do |gt| %>
      <li>
        <%= link_to gt.tournament_name, group_tournament_path(gt)  %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h3>Members</h3>
  <ul>
    <% @group.users.each do |user| %>
      <li>
        <%= user.email %>
      </li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div>
    <h3>Available Tournaments</h3>
    <% Tournament.unstarted.each do |tournament| %>
      <span><%= tournament.name %> - <% tournament.start_date %></span>
      <%= link_to "Add tournament to group", group_tournaments_path(group_id: @group.id, tournament_id: tournament.id), method: :post %>
    <% end %>
  </div>
<% end %>
