<h2><%= @matchup.opponents.map{|o| o.entrant.player_name }.join(' v ') %></h2>

<%= form_for @matchup do |f| %>
  <ul>
    <%= f.fields_for :opponents do |opponents_form| %>
      <li>
        <label>
          <%= opponents_form.object.entrant.player_name %>
          <%= opponents_form.check_box :winner %>
        </label>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
